.contents-2mQqc9 > img[src*="309551091501236225"] ~ .header-23xsNx > span.username-1A8OIy:after, /* Sanchinhu */
.contents-2mQqc9 > img[src*="154084427436130304"] ~ .header-23xsNx > span.username-1A8OIy:after, /* Tomii */
.contents-2mQqc9 > img[src*="247204871416184832"] ~ .header-23xsNx > span.username-1A8OIy:after, /* Macaw */
.contents-2mQqc9 > img[src*="187004333747863552"] ~ .header-23xsNx > span.username-1A8OIy:after /* Johnny */
{
  content: ' eBH Admin ';
  border: 1px solid;
  border-radius: 6px;
  margin-left: 8px;
  color: #1482e0;
  text-shadow: 0px 0px 2px #63b1f4, 0px 0px 4px;
  font-size: 10px;
}

.contents-2mQqc9 > img[src*="245950811597832193"] ~ .header-23xsNx > span.username-1A8OIy:after, /* Robson */
.contents-2mQqc9 > img[src*="507242533110415364"] ~ .header-23xsNx > span.username-1A8OIy:after, /* Thay */
.contents-2mQqc9 > img[src*="150280889786564608"] ~ .header-23xsNx > span.username-1A8OIy:after, /* Enrico */
.contents-2mQqc9 > img[src*="286947869494345728"] ~ .header-23xsNx > span.username-1A8OIy:after /* Atsushi */
{
  content: ' eBH Mod ';
  border: 1px solid;
  border-radius: 6px;
  margin-left: 8px;
  color: #f1c40f;
  text-shadow: 0px 0px 2px #edda8c, 0px 0px 4px;
  font-size: 10px;
}
